.loginIcon{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}

.username{
    position: absolute;
    left: 50.5%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.password{
    position: absolute;
    left: 50.5%;
    top: 49%;
    transform: translate(-50%,-50%);
}


.passIcon{
    position: absolute;
    left: 40.5%;
    top: 49%;
    transform: translate(-50%,-50%);
}

.userIcon{
    position: absolute;
    left: 40.5%;
    top: 40%;
    transform: translate(-50%,-50%);
}

button{
    position: absolute;
    left: 50.5%;
    top: 58.0%;
    transform: translate(-50%,-50%);
    
}


.btn-primary{
    background-color:rgb(241,95,97) !important;
}

body{
    background-image:url("https://i.imgur.com/7vDVIrs.jpg");

    background-size:cover;
    
    
}