.loginIcon{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}

.username{
    position: absolute;
    left: 50.5%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.password{
    position: absolute;
    left: 50.5%;
    top: 49%;
    transform: translate(-50%,-50%);
}




.passIcon{
    position: absolute;
    left: 40.5%;
    top: 49%;
    transform: translate(-50%,-50%);
}

.userIcon{
    position: absolute;
    left: 40.5%;
    top: 40%;
    transform: translate(-50%,-50%);
}

button{
    position: absolute;
    left: 50.5%;
    top: 57.0%;
    transform: translate(-50%,-50%);
    
}


.btn-primary{
    background-color:rgb(241,95,97) !important;
}

body{
    background-image:url("https://i.imgur.com/7vDVIrs.jpg");

    background-size:cover;
    
    
}

p{
    font-size:10px;
    position: absolute;
    left: 52%;
    top: 62.0%;
    transform: translate(-50%,-50%);
}


  .se{
    font-weight:500;
}

.navbarPadding{
    padding-top:3px;
    padding-bottom:3px;
}

.link{
    position: relative;
  }
  
  .link:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
  .link:hover:after{
    width: 100%;
    left: 0;
    background: rgb(126, 106, 117);
  }

  .TentFont{
    font-family:'Dancing Script', cursive;
    
    font-style:italic;
    font-size:210%;
    font-weight:1.5em;
    padding-top:0px;
    padding-bottom:0px;
    padding-right:1%;
    border-right:1.5px solid #D5D7D8  ;
   }
   
   
   
   .title{
    font-family: 'Miriam Libre', sans-serif;
   
   }