.newTitle{
    text-align: center;
    
    margin-bottom:50px;
}

input{
    border-radius:5px;
    border:1px solid lightblue;
    outline: none;
    margin-bottom:10px;
    
}

select{
    margin-bottom:20px;
}

h3{
    
    margin-top:40px;
}

.row, input{
    margin-bottom:10px;
}

.navbarPadding{
    padding-top:3px;
    padding-bottom:3px;
}


.link{
    position: relative;
  }
  
  .link:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
  .link:hover:after{
    width: 100%;
    left: 0;
    background: rgb(126, 106, 117);
  }

  .se{
    font-weight:500;
}

.navbarPadding{
    padding-top:3px;
    padding-bottom:3px;
}

.font{
  font-family:'Work Sans', sans-serif;
}

.TentFont{
  font-family:'Dancing Script', cursive;
  
  font-style:italic;
  font-size:210%;
  font-weight:1.5em;
  padding-top:0px;
  padding-bottom:0px;
  padding-right:1%;
  border-right:1.5px solid #D5D7D8  ;
 }
 
 
 
 .title{
  font-family: 'Miriam Libre', sans-serif;
 
 }
 
 body{
  background:whitesmoke;
 }

 h1{
    font-family: 'Farsan', cursive;
   }
   
   h3{
    font-family: 'Farsan', cursive;
   }
   
   select{
      border-radius: 4px;
   }