.loginIcon{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}

.username{
    position: absolute;
    left: 50.5%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.password{
    position: absolute;
    left: 50.5%;
    top: 49%;
    transform: translate(-50%,-50%);
}


.passIcon{
    position: absolute;
    left: 40.5%;
    top: 49%;
    transform: translate(-50%,-50%);
}

.userIcon{
    position: absolute;
    left: 40.5%;
    top: 40%;
    transform: translate(-50%,-50%);
}

button{
    position: absolute;
    left: 50.5%;
    top: 57.0%;
    transform: translate(-50%,-50%);
    
}


.btn-primary{
    background-color:rgb(241,95,97) !important;
}

body{
    background-image:url("https://i.imgur.com/7vDVIrs.jpg");

    background-size:cover;
    
    
}

p{
    font-size:10px;
    position: absolute;
    left: 52%;
    top: 62.0%;
    transform: translate(-50%,-50%);
}


  .se{
    font-weight:500;
}

.navbarPadding{
    padding-top:3px;
    padding-bottom:3px;
}

.link{
    position: relative;
  }
  
  .link:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
  .link:hover:after{
    width: 100%;
    left: 0;
    background: rgb(126, 106, 117);
  }

  .repassword{
    position: absolute;
    left: 50.5%;
    top: 58%;
    transform: translate(-50%,-50%);
}

.email{
    position: absolute;
    left: 50.5%;
    top: 67%;
    transform: translate(-50%,-50%);
}

.phone{
    position: absolute;
    left: 50.5%;
    top: 76%;
    transform: translate(-50%,-50%);
}

button{
    position: absolute;
    left: 50.5%;
    top: 84%;
    transform: translate(-50%,-50%);
}

p{
    position: absolute;
    left: 52%;
    top: 88%;
    transform: translate(-50%,-50%);
}

.emailIcon{
    position: absolute;
    left: 40.5%;
    top: 67%;
    transform: translate(-50%,-50%);
}

.phoneIcon{
    position: absolute;
    left: 40.5%;
    top: 76%;
    transform: translate(-50%,-50%);
}

.reenterIcon{
    position: absolute;
    left: 40.5%;
    top: 58%;
    transform: translate(-50%,-50%);
}