<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <title>Tent</title>
  </head>
  <body>




      <nav class="navbar navbar-expand-lg navbar-light bg-light navbarPadding" style="background-color: #e3f2fd;">
          <a class="navbar-brand">Tent</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link link" href="/">Explore </a>
              </li>
              <li class="nav-item">
                <a routerLink="/postApartment" class="nav-link link" href="/new" routerLinkActive="active">Post Tent </a>
              </li>
              <li class="nav-item  active se">
                <a class="nav-link link" href="/about">About us</a>
              </li>
            
            </ul>

            <ul class="navbar-nav">
              
                <% if (!currentUser){ %>
                  <li class="nav-item">
                    <a class="nav-link link" href="/login">Login/Register</a>
                  
                <% }else{ %>
                  <li class="nav-item">
                      <a class="nav-link link" href="/myTent">My Tent</a>
                    </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link link" href="logout">Logout</a>
                  </li>
                <% } %>
                </ul>
          </div>
          </nav>
          
          <div class="jumbotron">
              <h1 class="display-4"><h1 class="slogan">We help the society. We got you, bro. </h1></h1>
              <p class="lead">Creativity and Innovation are our goals to approach infinite possibilities. We believe that with our help, the world can be a better place.</p>
              <hr class="my-4">
              <p></p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" href="#info" role="button">Contact Information</a>
              </p>
              
              
            </div>

            <br>
            <br>
            <div class="container">
                <div class="row">
                  <div class="col-sm" id="info">
                    <h3>Yichong Ma</h3>
                    
                    <p>Product Manager / Scrum Master</p>
                    <br>
                    <p>Email: mayichong@ufl.edu</p>
                    <p>Phone Number: (407)408-8254</p>
                    
                    <div class="row">

                      <div class="col">
                          <a href="https://www.linkedin.com/in/yichongma" target="_blank"><i class="fab fa-linkedin fa-3x" style="color:#0077B5"></i></a>
                      </div>
                      <div class="col">
                          <a href="https://mayichong.github.io" target="_blank"><i class="fas fa-globe-europe fa-3x" style="color:teal"></i></a>
                        </div>
                    </div>
                    
                    
                  </div>
                  <div class="col-sm">
                    <h3>Lutong Zhang</h3>
                    <p>Scrum Master / UI Designer</p>
                    <br>
                    <p>Email: zhangl@ufl.edu</p>
                    <p>Phone Number: (352)328-9412</p>
                    <a href="https://www.linkedin.com/in/lutong-zhang-359607170/" target="_blank"><i class="fab fa-linkedin fa-3x" style="color:#0077B5"></i></a>
                    </div>
                    <div class="col-sm">
                      <h3>Shi Qiao</h3>
                      <p>Designer / Debugger</p>
                      <br>
                      <p>Email: shiqiao@ufl.edu</p>
                      <p>Phone Number: (352)284-9737</p>
                      <a href="https://www.linkedin.com/in/shiqiao/" target="_blank"><i class="fab fa-linkedin fa-3x" style="color:#0077B5"></i></a>
                      </div>
                </div>
              </div>

          
          
         
    <div style="margin-top:100px"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>