<!DOCTYPE html>
<html lang='en'>
    
<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/new.css">
    <title>
        Add new Comments
    </title>
</head>
    
<body>
    <h1 class="newTitle">Edit Comment </h1>

    <form action="/detail/<%= person_id %>/comments/<%= comment._id%>?_method=PUT" method="POST" style="text-align: center">
        <textarea name="comment[text]" type="text" rows="20" cols="50" equired><%=comment.text%></textarea><br>
        <button type="submit">Comment</button>
    </form>


</body>
</html>