<!DOCTYPE html>
<html lang='en'>
    
<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/new.css">
    <title>
        Add new Comments
    </title>
</head>
    
<body>
    <h1 class="newTitle">Edit Comment </h1>

    <form action="/detail/<%= person_id %>/comments/<%= comment._id%>?_method=PUT" method="POST">
        Comment: <input name="comment[text]" type="text" value= "<%=comment.text%>" required>
        <button type="submit">Submit</button>
    </form>


</body>
</html>