<!DOCTYPE html>
<html lang='en'>
    
<head>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/new.css">
    <title>
        Add new Comments
    </title>
</head>
    
<body>
    <h1 class="newTitle">Add new Comments </h1>

    <form action="/detail/<%= person._id %>/comments" method="POST" style="text-align: center">
       <textarea name="comment[text]" type="text" placeholder="Comment here" rows="20" cols="50" required></textarea><br>
        <button type="submit">Comment</button>
    </form>


</body>
</html>